/* CSS declarations go here */
html, body {
    height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  min-height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

header {
  background-color: black;
  padding: 20px 15px 15px 15px;
  position: relative;
  color: white;
}

.login {
    float: right;
    padding: 15px;
}

.login a:link, .login a:visited {
    background-color: grey;
    color: white;
}

.admin-header-btn {
    float: right;
}

.admin-btn-on, .admin-btn:hover {
    background-color: orange;
}

#login-buttons {
  display: block;
}

/*General tags*/
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.nopadding {
   padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

/*****CONTAINERS*****/
.container-fluid {
  min-width: 720px;
  max-width: 1980px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: white;
}

.container-grid {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

/*Admin*/
.admin-tabs {
    margin-top: 15px;
}

.admin, .admin-container, .admin-add-course {
    padding: 0px;
}

/*Admin Courses*/

.admin-header {
    text-align: center;
}

.course-listings {
    height: 800px;
    padding-top: 15px;
    overflow-y: scroll;
}

.course-listing {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    background-color: #ccdfff;
}

.course-listing-text {
    margin: 0;
}

.edit-course {
    margin: 0;
    padding: 0;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 15px;
  position: relative;
}

.check {
    padding-right: 15px;
    font-size: 1em;
}

label {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}

select {
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 10px;
    width: 100%;
    height: 42px;
    font-size: 1em;
}

input[type=text], input[type=number]{
    padding: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    font-size: 1em;
}

input:focus{
  outline: 0;
}

input[type=submit] {
    margin-bottom: 10px;
}

.delete {
  float: right;
  position: relative;
  margin-left: 2px;
}

.edit {
  float: right;
  position: relative;
}

/*Admin Users*/


/*Grid containers*/
#grid-header {
    padding-top: 15px;
    padding-right: 25px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    background-color: grey;
    color: white;
}

.course-grid {
    height: 800px;

}

.course-grid-left {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
}

.course-grid-right {
    margin: 0;
    padding: 0;
    height: 100%;
}

.course-info {
    height: 100px;
    padding: 15px;
    background-color: grey;
    color: white;
    font-size: 1.2em;
}

.achievements-wrapper {
    height: 100%;
    position: relative;
}

.achievements {
    top: 50%;
    transform: translateY(-50%);
}

.row-container {
    padding: 5px 0px 5px 0px;
    position: relative;
}

.row-header-wrapper {
    height: 100%;
    position: relative;
}

.row-header {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.row-highlight {
    background-color: ghostwhite;
}

.row-cell {
    padding: 0px 10px 0px 10px;
}

/*Buttons*/
.course-btn-group {
    margin-bottom: 5px;
}

.btn-group {
    margin-left: 0 !important;
}

.course-btn {
    width: 80%;
}

.course-check-btn {
    width: 20%;
    padding-left: 4px;
    padding-right: 4px;
}

.checked, .course-check-btn:hover {
    background-color: #c2ffaa;
}

.achievement-btn {
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.diploma-on, #Diploma-btn:hover{
    background-color: pink !important;
}

.certificate-on, #Certificate-btn:hover{
    background-color: orange !important;
}

/*Responsive stuff*/
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-course input {
    padding-bottom: 5px;
  }
}
