/* CSS declarations go here */
html, body {
    height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  min-height: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

/*General tags*/
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/*****CONTAINERS*****/
.container-fluid {
  min-width: 720px;
  max-width: 1980px;
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: white;
}

.container-left {
    padding: 0;
    height: 100%;
}

.course-grid {
    height: 800px;
    overflow-y: auto;
}

.course-info {
    padding: 15px;
}

/*Side containers*/
.sidebar {
    padding: 0px;
}

.sidebar-header {
    text-align: center;
}

.course-listings {
    height: 600px;
    padding-top: 15px;
    overflow-y: scroll;
}

.course-listing {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ccdfff;
}

.edit-course {
    margin: 0;
    padding: 0;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 15px;
  position: relative;
}

.check {
    padding-right: 15px;
    font-size: 1em;
}

label {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
}

select {
    box-sizing: border-box;
    background: transparent;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1em;
}

input[type=text], input[type=number]{
    padding: 10px 0;
    margin-bottom: 2px;
    box-sizing: border-box;
    background: transparent;
    width: 100%;
    font-size: 1em;
}

input:focus{
  outline: 0;
}

input[type=submit] {
    margin-bottom: 10px;
}

.delete {
  float: right;
  position: relative;
  margin-left: 2px;
}

.edit {
  float: right;
  position: relative;
}

/*Grid containers*/
.course-grid-left {
    margin: 0;
    padding: 0;
}

.course-grid-right {
    margin: 0;
    padding: 0;
}

.end-goal {
    vertical-align: middle;
}

.row-container {
    padding: 15px 0px 15px 0px;
}

.row-cell {
    padding: 0px 10px 0px 10px;
}

/*Buttons*/
.btn-group {
    margin: 2px;
    width: 100%;
}

.course-check-btn {
    padding-left: 4px;
    padding-right: 4px;
}

.checked, .course-check-btn:hover {
    background-color: #c2ffaa;
}

.achievement-btn {
    width: 100%;
}

.diploma-on, #Diploma-btn:hover{
    background-color: pink;
}

.certificate-on, #Certificate-btn:hover{
    background-color: orange;
}

/*Responsive stuff*/
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-course input {
    padding-bottom: 5px;
  }
}
